/20240110_tracks_playlist_in_app_14501_spotifyIds.csv
/20240114_sp_artists_ids_from_tracks_in_app_post_20240110scraping.csv
/albums.csv
/artists.csv
/playlist-9-track-331.json
/playlists.csv
/playlist_ids.csv
/playlist_tracks.csv
/top_tracks.xlsx
/__pycache__
/SpotifyData